@import "tailwindcss";

@theme{
  /* Colors */
  --color-primary: #000000;
  --color-background:#F2F0F1;
  /* Spacing */
  --spacing-sm:4px;
  --spacing-md:8px;
  --spacing-lg:12px;
  /* Text Size */
  --text-head:48px;
  --text-mb-head:32px;
  --text-body:20px;
  --text-mb-body:16px;
  --text-title:40px;
  --text-mb-title:24px;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}
.animate-scroll {
  animation: scroll 10s linear infinite;
}
        
.animate-scroll:hover {
  animation-play-state: paused;
}
.card::-webkit-scrollbar{
  display: none;
}
